.profile-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f4f1ea; 
}

.profile-heading {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #7c6651; 
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.profile-name {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #5a4b3f; 
    font-style: italic;
    font-family: 'Georgia', serif;
}

.profile-image-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #a67c52;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.05);
}

.profile-image-update {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 60%;
    transition: border-color 0.3s ease;
}

.profile-image-input:focus {
    border-color: #a67c52; 
    outline: none;
}

.profile-image-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #855e42; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.profile-image-button:hover {
    background-color: #7c6651; 
    transform: scale(1.05);
}

.favorites-heading {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #5a4b3f; 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.recipe-card {
    background: #f4f1ea;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.recipe-card:hover {
    transform: translateY(-5px);
}
